@media (min-width: 900px) {
  .btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .contacts {
    background: var(--accent-color);
    display: flex;
    padding: 5px 20px;
    justify-content: space-around;
    align-items: center;
  }
  .contact img {
    max-width: 150px;
    filter: grayscale(1);
    transition: filter 0.5s;
  }

  .contact:hover img {
    filter: grayscale(0);
  }

  /* footer */

.footer-info {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 10px auto;
  align-items: center;
  text-align: left;

}

footer a {
  text-decoration: none;
  color: #777;
  transition: color 0.5s;
}

footer a:hover {
  color: #e6e6e6;
}

footer ul {
  display: inline-block;
  list-style-type: none;
}

.copyright hr {
  margin: 30px auto 10px;
  width: 90%;
  border: none;
  border-top: var(--main-color)73 1px solid;
}

.clio {
  height: 150px;
}

.footer-list {
  align-self: flex-start;
}
}
